<html xmlns="http://java.sun.com/jsf/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Title</title>
</head>
<body>
<center><h1 style="color: #b9393f;">可参与的流程</h1>
    <span>当前登录用户为<font th:text="${session.person.name}"></font></span>
</center>
<hr/>
<center>
    <table border="3" cellpadding="0">
        <tr>
            <td colspan="2" style="text-align:center">可参与的流程</td>
        </tr>
        <tr>
            <td>流程名字</td>
            <td>操作</td>
        </tr>
        <tr th:each="li, gStat: ${list}">
            <td th:text="${li.name}"></td>
            <td>
                <!--<button id="start">-->
                <!--<p hidden id="processDefineId" th:text="${li.id}"></p>无表单启动</button>-->
                <a th:href="@{/workflow/start/noForm/{id}(id=${li.id})}">启动</a>
            </td>
        </tr>
    </table>
</center>
</body>
</html>
<script type="text/javascript" src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
<script>
    // $("#start").click(function () {
    //     var id = $(this).find("p").text();
    //     alert(id);
    //     $.ajax({
    //         url: "/workflow/start/noForm/" + id,
    //         type: "POST",
    //         async: false,
    //         dataType: "json",
    //         contentType: "application/json",
    //         success: function (msg) {
    //             alert("启动成功");
    //         }
    //     });
    // });
</script>